:root {
  --col-bg-primary: #fdf0e9;
  --col-bg-light: #ffffff;
  --col-bg-middle: #ef6d58;
  --col-bg-dark: #28293e;

  --col-text-primary: #391400;
  --col-text-secondary: #ffffff;
  --color-text-inactive-dark: rgba(57, 20, 0, 0.64);
  --color-text-inactive-light: rgba(255, 255, 255, 0.64);

  --col-title-primary: #391400;
  --col-title-secondary: #ffffff;

  --col-accent-primary: #ef6d58;
  --col-accent-secondary: #b550f8;

  --col-btn-default: #ffffff;
  --col-btn-hover-dark: #391400;
  --col-btn-hover-light: #ef6d58;
  --col-btn-focus: #ef6d58;
  --col-btn-disabled: #000000;

  --col-btn-bg-default-primary: #ef6d58;
  --col-btn-bg-default-secondary: #b550f8;
  --col-btn-bg-hover: #ffffff;
  --col-btn-bg-focus: rgba(255, 255, 255, 0.3);
  --col-btn-bg-disabled: #ababab;

  --border-btn-focus-light: 2px solid rgba(255, 255, 255, 0.3);

  --fill-icon: #fdf0e9;
  --col-bg-icon: #ef6d58;
  --col-bg-icon-hover: rgba(255, 255, 255, 0.3);
  --col-bg-icon-focus: transparent;

  --col-backdrop: rgba(0, 0, 0, 0.2);

  --border: 1px solid #f3d1bf;

  --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms;
}
