<section class="about section" id="about">
  <div class="about__container container">
    <h2 class="about__title section-title">Example</h2>
    <div class="about__wrap">
      <ul class="about__list">
        <li class="about__item">
          <div class="gallery-card">
            <h3 class="gallery-card__title">ice cream</h3>
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
              officiis.
            </p>
            <button
              class="header__button btn btn"
              type="button"
              data-modal-follow-open
            >
              follow
              <svg class="header__button-img" width="12" height="12">
                <use href="./images/vectors.svg#icon-arrow-btn"></use>
              </svg>
            </button>
            <a class="soc__link link" href="#">Twitter</a>
          </div>
        </li>
        <li class="about__item">
          <div class="gallery-card">
            <h3 class="gallery-card__title">ice cream</h3>
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
              officiis.
            </p>
            <button
              class="header__button btn btn"
              type="button"
              data-modal-follow-open
            >
              follow
              <svg class="header__button-img" width="12" height="12">
                <use href="./images/vectors.svg#icon-arrow-btn"></use>
              </svg>
            </button>
            <a class="soc__link link" href="#">Twitter</a>
          </div>
        </li>
        <li class="about__item">
          <div class="gallery-card">
            <h3 class="gallery-card__title">ice cream</h3>
            <p class="gallery-card__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
              officiis.
            </p>
            <button
              class="header__button btn btn"
              type="button"
              data-modal-follow-open
            >
              follow
              <svg class="header__button-img" width="12" height="12">
                <use href="./images/vectors.svg#icon-arrow-btn"></use>
              </svg>
            </button>
            <a class="soc__link link" href="#">Twitter</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
