<section class="about section" id="about">
  <div class="about__container container">
    <div class="about__canvas"></div>
    <div class="about-card">
      <a class="about-card__link link" href="/src/page-about.html"
        ><span class="about__link--text">About</span></a
      >
      <h2 class="about__title section-title">An Experience Design Agency</h2>
      <h3 class="about-card__description">Provides a full service range</h3>
      <p class="about__description">
        Ability to put themselves in the merchant's shoes. It is meant to
        partner on the long run, and work as an extension of the merchant's
        team.
      </p>
      <button
        class="gallery-card__button btn"
        type="button"
        data-modal-follow-open
      >
        About Us
      </button>
    </div>    
  </div>
</section>
