<section class="awards section" id="awards">
  <div class="awards__container container">
    <h2 class="awards__title section-title">Our Awards</h2>
    <ul class="awards__list">
      <li class="awards__item">
        <img class="awards__img" src="./images/awards/branding4@1x.jpg" width="120" alt="" srcset="./images/awards/branding4@1x.jpg 1x, ./images/awards/branding4@2x.jpg 2x">
        <p class="award__category">sofa</p>
        <time class="award__date">25 Oct, 2021</time>
        <p class="award__company">Awwwards</p>
      </li>
      <li class="awards__item">
        <img class="awards__img" src="./images/awards/design2@1x.jpg" width="120" alt="" srcset="./images/awards/design2@1x.jpg 1x, ./images/awards/design2@2x.jpg 2x">
        <p class="award__category">bounce</p>
        <time class="award__date">19 Oct, 2021</time>
        <p class="award__company">CSS Design Awards</p>
      </li>
      <li class="awards__item">
        <img class="awards__img" src="./images/awards/motion1@1x.jpg" width="120" alt="" srcset="./images/awards/motion1@1x.jpg 1x, ./images/awards/motion1@2x.jpg 2x">
        <p class="award__category">water</p>
        <time class="award__date">7 Oct, 2021</time>
        <p class="award__company">The FWA</p>
      </li>
    </ul>
  </div>
</section>
