<section class="clients section">
  <div class="clients__container container">
    <h2 class="clients__title section-title hide">Clients</h2>
    <ul class="clients__list">
      <li class="clients__item">
        <img
          class="clients__image"
          srcset="
            ./images/clients/desktop-client1-1x.png 1x,
            ./images/clients/desktop-client1-2x.png 2x
          "
          src="./images/clients/desktop-client1-1x.png"
          alt="Digitalside"
          width="147"
        />
      </li>
      <li class="clients__item">
        <img
          class="clients__image"
          srcset="
            ./images/clients/desktop-client2-1x.png 1x,
            ./images/clients/desktop-client2-2x.png 2x
          "
          src="./images/clients/desktop-client2-1x.png"
          alt="Vortex"
          width="108"
        />
      </li>
      <li class="clients__item">
        <img
          class="clients__image"
          srcset="
            ./images/clients/desktop-client3-1x.png 1x,
            ./images/clients/desktop-client3-2x.png 2x
          "
          src="./images/clients/desktop-client3-1x.png"
          alt="Treval explorer"
          width="119"
        />
      </li>
      <li class="clients__item">
        <img
          class="clients__image"
          srcset="
            ./images/clients/desktop-client4-1x.png 1x,
            ./images/clients/desktop-client4-2x.png 2x
          "
          src="./images/clients/desktop-client4-1x.png"
          alt="Fuzion"
          width="86"
        />
      </li>
      <li class="clients__item">
        <img
          class="clients__image"
          srcset="
            ./images/clients/desktop-client5-1x.png 1x,
            ./images/clients/desktop-client5-2x.png 2x
          "
          src="./images/clients/desktop-client5-1x.png"
          alt="Media fury"
          width="126"
        />
      </li>
    </ul>
  </div>
</section>
