<section class="section section--contact-us">
  <div class="container container--contact-us">
    <div class="contact-us">
      <div class="contact-us__img-wrap"></div>
      <div class="contact-us__text-wrap">
        <h1 class="contact-us__title">
          We’re Help <br />
          To Build Your Dream Project
        </h1>
        <p class="contact-us__text">
          A digital agency is a business you hire to outsource your digital
          marketing efforts, instead of handling in-house.
        </p>
        <button type="button" class="contact-us__button">Contact Us</button>
      </div>
    </div>
  </div>
</section>
