<section class="service__section section">
  <div class="container">
    <div class="service__wrap">
      <div class="service__picture">
      </div>
      <div class="service__block">
        <h5 class="service__up">Service</h5>
        <h2 class="service__title">Making Complex
          Digital Products</h2>
        <p class=" service__description">Agency provides a full service range including technical skills,
          design, business.</p>
        <div class="qout__wrap">
          <picture class="service__avatar-bcg">
            <source srcset="./images/service/avatar.png 1x,  ./images/service/avatar-2x.png 2x ">
            <img class="service__avatar" src="./images/service/avatar.png" alt="avatar" width="47" height="58">
          </picture>
          <div>
            <p class="service__qout">"Understanding, ability to put themselves in the merchant's shoes. It
              is
              meant to partner."
            </p>
            <span class="service__text">Jenny Murtaugh</span>
          </div>
        </div>
        <button class="btn" type="button">Explore</button>
      </div>

    </div>

    <div class="service-agency">
      <h5 class="service__down">Service</h5>
      <h3 class="service-agency__title">How Our Agency
        Can Help</h3>
      <ul class="service__list">
        <li class="service__item">
          <div>
            <h4 class="service__name design">Design</h4>
            <p class="service-agency__text ">Agency provides a full service range including technical skills, design.
            </p>
          </div>
          <a class="service__link" href="./page-services.html">Learn More</a>
        </li>
        <li class="service__item">
          <div>
            <h4 class="service__name development">Development</h4>
            <p class="service-agency__text">Full service range including technical skills, design, business.</p>
          </div>
          <a class="service__link" href="./page-services.html">Discover More</a>
        </li>
        <li class="service__item">
          <div>
            <h4 class="service__name marketing">Marketing</h4>
            <p class="service-agency__text ">Technical skills, design, business understanding, ability.</p>
          </div>
          <a class=" service__link" href="./page-services.html">Explore Now</a>
        </li>
      </ul>
    </div>
  </div>
</section>