<section class="events section">
  <div class="container">
    <div class="events-page">
      <p class="events-page__text">Events</p>
      <h2 class="events-page__title section-title">
        Explore Future Conferences
      </h2>
      <ul class="events-page__list list">
        <li class="events-page__item">
          <div class="events-page__data">
            <span class="events-page__data-number">3</span>
            <span class="events-page__data-month">November<br />2021</span>
          </div>
          <div class="events-page__time">
            <svg class="events-page__time-icon" width="16" height="16">
              <use href="./images/events/events.svg#icon-shape"></use>
            </svg>
            <span class="events-page__time-hours">9:00 am – 3:00 pm</span>
          </div>
          <div class="events-page__desc">
            <p class="events-page__desc-title">Design Weeks</p>
            <p class="events-page__desc-text">
              Digital agency is a business you hire to outsource your digital.
            </p>
            <a class="events-page__desc-link link" href="#">Explore Now</a>
          </div>
        </li>
        <li class="events-page__item">
          <div class="events-page__data">
            <span class="events-page__data-number">15</span>
            <span class="events-page__data-month">November<br />2021</span>
          </div>
          <div class="events-page__time">
            <svg class="events-page__time-icon" width="16" height="16">
              <use href="./images/events/events.svg#icon-shape"></use>
            </svg>
            <span class="events-page__time-hours">1:00 pm – 8:00 pm</span>
          </div>
          <div class="events-page__desc">
            <p class="events-page__desc-title">Interior Design</p>
            <p class="events-page__desc-text">
              Marketing efforts, instead of handling in-house.
            </p>
            <a class="events-page__desc-link link" href="#">Explore Now</a>
          </div>
        </li>
        <li class="events-page__item">
          <div class="events-page__data">
            <span class="events-page__data-number">2</span>
            <span class="events-page__data-month">December<br />2021</span>
          </div>
          <div class="events-page__time">
            <svg class="events-page__time-icon" width="16" height="16">
              <use href="./images/events/events.svg#icon-shape"></use>
            </svg>
            <span class="events-page__time-hours">10:00 am – 2:00 pm</span>
          </div>
          <div class="events-page__desc">
            <p class="events-page__desc-title">The F design events</p>
            <p class="events-page__desc-text">
              Provide your business with a variety of digital solutions to
              promote.
            </p>
            <a class="events-page__desc-link link" href="#">Explore Now</a>
          </div>
        </li>
      </ul>
    </div>
    <a class="events__link link btn" href="#">Explore More</a>
  </div>
</section>
