<section class="features section">
  <div class="features__container container">
    <div class="features-long">
    <h5 class="features-long__title">Features</h5>
    <p class="features-long__text">Long run, and work as an extension of the merchant's team.</p>
    <button class="features-long__btn" type="button">Read More</button>
  </div>
    <div class="features-professional">
      <a class="features-professional__link" href="#">
        <svg class="features-professional__icon" width="18" height="14">
          <use href="./images/icons.svg#icon-path"></use>
        </svg>
      </a>
      <h4 class="features-professional__title">Professional</h4>
      <p class="features-professional__text">Full service range including technical skills, design.</p>
    </div>
    <div class="features-accessibility"> 
      <h4 class="features-accessibility__title">Accessibility</h4>
      <p class="features-accessibility__text">Business understanding, ability to put themselves.</p>
    </div>
</section>
