<section class="features__section">
  <div class="features__container container">
    <div class="features-long">
    <h5 class="features-long__title">Features</h5>
    <p class="features-long__text">Long run, and work as an extension 
    of the merchant's team.</p>
    <a class="features-long__link" href="#">Read More</a>
  </div>
    <div class="features-professional">
      <a class="features-professional__link" href="#">
        <svg class="features-professional__icon" width="32" height="32">
          <use href="./images/features/icons.svg#icon-combined-shape"></use>
        </svg>
      </a>
      <h4 class="features-professional__title">Professional</h4>
      <p class="features-professional__text">Full service range including technical skills, design.</p>
    </div>
    <div class="features-accessibility"> 
      <h4 class="features-accessibility__title">Accessibility</h4>
      <p class="features-accessibility__text">Business understanding, ability to put themselves.</p>
    </div>
</section>

