<!-- <section class="about section example" id="about">
  <div class="about__container container">
    <h2 class="about__title section-title">Example</h2>
    <div class="gallery-card">
      <h3 class="gallery-card__title">Lorem ipsum</h3>
      <p class="gallery-card__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        officiis.
      </p>
      <button
        class="gallery-card__button btn"
        type="button"
        data-modal-follow-open
      >
        action
        <svg class="gallery-card__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>
      <a class="gallery-card__link link" href="#">Twitter</a>
    </div>
  </div>
</section> -->

<footer class="footer">
  <div class="footer__container container">
    <div class="footer__help">
    <picture>
              <source
                srcset="./images/guy-1x.png 1x, ./images/guy-2x.png 2x"
                media="(min-width: 1200px)"
                />
    </picture> 
                <img class="footer__img" width="273" height="264" src="./images/guy-1x.png" alt="guy"/>
      
              <div class="footer__main">
      <h3 class="footer__uptitle">We’re Help 
        To Build Your 
        Dream Project
      </h3>
      <p class="footer__text">A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house.
      </p>
      <button type="button" class="footer__btn btn">Contact Us</button>
    </div>
    </div>

    <h4 class="footer__title-agency">Agency</h4>
    
    <div class="footer__nav">
      <h5 class="footer__title">Menu</h5>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">About</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Services</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Blog</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Contact</a>
        </li>
      </ul>
    </div>
    
    <div class="footer__nav">
      <h5 class="footer__title">Service</h5>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">Design</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Development</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Marketing</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">See more</a>
        </li>
      </ul>
    </div>
    
    <div class="footer-soc">
      <ul class="footer-soc__list">
        <li class="footer-soc__item">
          <a class="footer-soc__link" href="#">
            <svg class="footer-soc__icon" width="16" height="12">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc__item">
          <a class="footer-soc__link" href="#">
            <svg class="footer-soc__icon" width="16" height="13">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc__item">
          <a class="footer-soc__link" href="#">
            <svg class="footer-soc__icon" width="16" height="16">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <p class="footer__text-bottom">Copyright © 2022 Laaqiq. 
      All Rights Reserved.</p>

<div class="footer-bottom">
  <ul class="footer-bottom__list">
  <li class="footer-bottom__item"><a class="footer-bottom__link" href="#">Terms of Use</a></li>
  <li class="footer-bottom__item"><a class="footer-bottom__link" href="#">Privacy Policy</a></li>
</ul>
</div>
  </div>
</footer>