<!-- <section class="about section example" id="about">
  <div class="about__container container">
    <h2 class="about__title section-title">Example</h2>
    <div class="gallery-card">
      <h3 class="gallery-card__title">Lorem ipsum</h3>
      <p class="gallery-card__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        officiis.
      </p>
      <button
        class="gallery-card__button btn"
        type="button"
        data-modal-follow-open
      >
        action
        <svg class="gallery-card__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>
      <a class="gallery-card__link link" href="#">Twitter</a>
    </div>
  </div>
</section> -->

<footer class="footer">
  <div class="footer__container container">
    <section class="footer__help">
    <picture>
              <source
                srcset="./images/guy-1x.jpeg 1x, ./images/guy-2x.jpeg 2x"
                media="(min-width: 1200px)"
                />
    </picture> 
                <img class="footer__img" width="273" height="264" src="./images/guy-1x.jpeg" alt="guy"/>
              </div>
      
      <h3 class="footer__title h3">We’re Help 
        To Build Your 
        Dream Project
      </h3>
      <p class="footer__text">A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house.
      </p>
      <button type="button" class="footer__btn btn">Contact Us</button>
    </section>

    <h4 class="footer__title-agency">Agency</h4>
    
    <div class="footer__nav">
      <h5 class="footer__title-menu">Menu</h5>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">About</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Services</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Blog</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Contact</a>
        </li>
      </ul>
    </div>
    
    <div class="footer__nav">
      <h5 class="footer__title-service">Service</h5>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">Design</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Development</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Marketing</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">See more</a>
        </li>
      </ul>
    </div>
    
    <div class="footer-soc">
      <ul class="footer-soc__list">
        <li class="footer-soc__item">
          <a class="footer-soc__link" href="#">
            <svg class="footer-soc__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc__item">
          <a class="footer-soc__link" href="#">
            <svg class="footer-soc__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc__item">
          <a class="footer-soc__link" href="#">
            <svg class="footer-soc__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <p class="footer__text">Copyright © 2022 Laaqiq. 
      All Rights Reserved.</p>

<div class="footer-bottom">
  <ul class="footer-bottom__list">
  <li class="footer-bottom__item"><a class="footer-bottom__link" href="#">Terms of Use</a></li>
  <li class="footer-bottom__item"><a class="footer-bottom__link" href="#">Privacy Policy</a></li>
</ul>
</div>
  </div>
</footer>

<!-- <footer class="footer">
  <div class="footer__container container">
    <div class="logo-and-address">
      <a class="footer-logo" href="">Web<span class="footer-logo-color">Studio</span></a>
      <address>
        <ul class="footer-list">
          <li class="footer-list-list">
            <a class="footer-address"
              href="https://www.google.de/maps/place/%D0%B1%D1%83%D0%BB.+%D0%9B%D0%B5%D1%81%D0%B8+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%BA%D0%B8,+26,+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0,+02000/@50.4265841,30.5361971,17z/data=!3m1!4b1!4m5!3m4!1s0x40d4cf0e033ecbe9:0x57a4dffefec77da0!8m2!3d50.4265807!4d30.5383858?hl=ru">м.
              Київ, пр-т Лесі Українки, 26</a>
          </li>
          <li class="footer-list-list">
            <a class="footer-contact" href="mailto:info@devstudio.com">info@devstudio.com</a>
          </li>
          <li class="footer-list-tel">
            <a class="footer-contact" href="tel:+380961111111">+38 096 111 11 11</a>
          </li>
        </ul>
      </address>
    </div>

    <div class="footer-icons">
      <span class="footer-icons-title">ПРИЄДНУЙТЕСЬ</span>
      <ul class="footer-soc">
        <li class="footer-soc-list">
          <a class="footer-soc-list-link" href="#">
            <svg class="footer-soc-list-link-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-list">
          <a class="footer-soc-list-link" href="#">
            <svg class="footer-soc-list-link-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer-soc-list">
          <a class="footer-soc-list-link" href="#">
            <svg class="footer-soc-list-link-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-subscriptione">
      <p class="footer-subscriptione-title">ПІДПИШІТЬСЯ НА РОЗСИЛКУ</p>
      <form class="footer-subscriptione-wrapper">
        <input type="email" name="my-email" class="footer-input" placeholder="E-mail">
        <button type="submit" class="subscriptione-btm">Підписатися<svg class="subscriptione-icon" width="24"
            height="24">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg> </button>
      </form>
    </div>

  </div>
</footer> -->