<section class="portfolio section">
  <div class="portfolio__container container">
    <p class="portfolio__uppertitle">Portfolio</p>
    <h2 class="portfolio__title">Latest Work</h2>
    <div class="portfolio__gallery">
      <div class="portfolio__filters">
        <button
          type="button"
          class="filter-btn btn--all active"
          data-name="all"
        >
          Show All <span class="all-count"></span>
        </button>
        <button type="button" class="filter-btn btn--design" data-name="design">
          Design<span class="design-count"></span>
        </button>
        <button
          type="button"
          class="filter-btn btn--branding"
          data-name="branding"
        >
          Branding<span class="branding-count"></span>
        </button>
        <button
          type="button"
          class="filter-btn btn--illustration"
          data-name="illustration"
        >
          illustration<span class="illustration-count"></span>
        </button>
        <button type="button" class="filter-btn btn--motion" data-name="motion">
          Motion<span class="motion-count"></span>
        </button>
      </div>
      <div class="portfolio__wrapper">
        <div class="img__wrapper img--design" data-name="design">
          <div class="img-title__wrapper">
            <p class="img__section-title">Design</p>
          </div>
          <p class="img__name">CIRCLES</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/design1-desk@1x.jpg 1x,
                ./images/portfolio/desk/design1-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/design1-mob@1x.jpg 1x,
                ./images/portfolio/mob/design1-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/design1-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--branding" data-name="branding">
          <div class="img-title__wrapper">
            <p class="img__section-title">Branding</p>
          </div>
          <p class="img__name">3D OBJECTS</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/branding1-desk@1x.jpg 1x,
                ./images/portfolio/desk/branding1-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/branding1-mob@1x.jpg 1x,
                ./images/portfolio/mob/branding1-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/branding1-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--illustration" data-name="illustration">
          <div class="img-title__wrapper">
            <p class="img__section-title">Illustration</p>
          </div>
          <p class="img__name">FLOWERS</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/illustration1-desk@1x.jpg 1x,
                ./images/portfolio/desk/illustration1-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/illustration1-mob@1x.jpg 1x,
                ./images/portfolio/mob/illustration1-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/illustration1-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--motion" data-name="motion">
          <div class="img-title__wrapper">
            <p class="img__section-title">Motion</p>
          </div>
          <p class="img__name">BOUNCE</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/motion1-desk@1x.jpg 1x,
                ./images/portfolio/desk/motion1-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/motion1-mob@1x.jpg 1x,
                ./images/portfolio/mob/motion1-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/motion1-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--design" data-name="design">
          <div class="img-title__wrapper">
            <p class="img__section-title">Design</p>
          </div>
          <p class="img__name">WATER</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/design2-desk@1x.jpg 1x,
                ./images/portfolio/desk/design2-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/design2-mob@1x.jpg 1x,
                ./images/portfolio/mob/design2-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/design2-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--illustration" data-name="illustration">
          <div class="img-title__wrapper">
            <p class="img__section-title">Illustration</p>
          </div>
          <p class="img__name">OCEAN</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/illustration2-desk@1x.jpg 1x,
                ./images/portfolio/desk/illustration2-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/illustration2-mob@1x.jpg 1x,
                ./images/portfolio/mob/illustration2-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/illustration2-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--motion" data-name="motion">
          <div class="img-title__wrapper">
            <p class="img__section-title">Motion</p>
          </div>
          <p class="img__name">SOFA</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/motion2-desk@1x.jpg 1x,
                ./images/portfolio/desk/motion2-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/motion2-mob@1x.jpg 1x,
                ./images/portfolio/mob/motion2-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/motion2-desk@1x.jpg"
              width="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--design" data-name="design">
          <div class="img-title__wrapper">
            <p class="img__section-title">Design</p>
          </div>
          <p class="img__name">Crystals</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/design3-desk@1x.jpg 1x,
                ./images/portfolio/desk/design3-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/design3-mob@1x.jpg 1x,
                ./images/portfolio/mob/design3-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/design3-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--branding" data-name="branding">
          <div class="img-title__wrapper">
            <p class="img__section-title">Branding</p>
          </div>
          <p class="img__name">SOFA</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/branding2-desk@1x.jpg 1x,
                ./images/portfolio/desk/branding2-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/branding2-mob@1x.jpg 1x,
                ./images/portfolio/mob/branding2-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/branding2-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--branding" data-name="branding">
          <div class="img-title__wrapper">
            <p class="img__section-title">Branding</p>
          </div>
          <p class="img__name">SOFA</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/branding3-desk@1x.jpg 1x,
                ./images/portfolio/desk/branding3-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/branding3-mob@1x.jpg 1x,
                ./images/portfolio/mob/branding3-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/branding3-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--branding" data-name="branding">
          <div class="img-title__wrapper">
            <p class="img__section-title">Branding</p>
          </div>
          <p class="img__name">SOFA</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/motion3-desk@1x.jpg 1x,
                ./images/portfolio/desk/motion3-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/motion3-mob@1x.jpg 1x,
                ./images/portfolio/mob/motion3-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/motion3-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--design" data-name="design">
          <div class="img-title__wrapper">
            <p class="img__section-title">Design</p>
          </div>
          <p class="img__name">FLOWER</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/design4-desk@1x.jpg 1x,
                ./images/portfolio/desk/design4-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/design4-mob@1x.jpg 1x,
                ./images/portfolio/mob/design4-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/design4-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--branding" data-name="branding">
          <div class="img-title__wrapper">
            <p class="img__section-title">Branding</p>
          </div>
          <p class="img__name">SOFA</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/branding4-desk@1x.jpg 1x,
                ./images/portfolio/desk/branding4-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/branding4-mob@1x.jpg 1x,
                ./images/portfolio/mob/branding4-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/branding4-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--illustration" data-name="illustration">
          <div class="img-title__wrapper">
            <p class="img__section-title">Illustration</p>
          </div>
          <p class="img__name">FLOWER</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/illustration3-desk@1x.jpg 1x,
                ./images/portfolio/desk/illustration3-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/illustration3-mob@1x.jpg 1x,
                ./images/portfolio/mob/illustration3-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/illustration3-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--illustration" data-name="illustration">
          <div class="img-title__wrapper">
            <p class="img__section-title">Illustration</p>
          </div>
          <p class="img__name">WATER PLANT</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/illustration4-desk@1x.jpg 1x,
                ./images/portfolio/desk/illustration4-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/illustration4-mob@1x.jpg 1x,
                ./images/portfolio/mob/illustration4-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/illustration4-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--branding" data-name="branding">
          <div class="img-title__wrapper">
            <p class="img__section-title">Branding</p>
          </div>
          <p class="img__name">SOFA</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/motion4-desk@1x.jpg 1x,
                ./images/portfolio/desk/motion4-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/motion4-mob@1x.jpg 1x,
                ./images/portfolio/mob/motion4-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/motion4-desk@1x.jpg"
              height="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--motion" data-name="motion">
          <div class="img-title__wrapper">
            <p class="img__section-title">Motion</p>
          </div>
          <p class="img__name">BALLS</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/motion5-desk@1x.jpg 1x,
                ./images/portfolio/desk/motion5-desk@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/portfolio/mob/motion5-mob@1x.jpg 1x,
                ./images/portfolio/mob/motion5-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/motion5-desk@1x.jpg"
              width="420"
              alt=""
            />
          </picture>
        </div>
        <div class="img__wrapper img--motion" data-name="motion">
          <div class="img-title__wrapper">
            <p class="img__section-title">Motion</p>
          </div>
          <p class="img__name">Bubbles</p>
          <picture class="img-design">
            <source
              srcset="
                ./images/portfolio/desk/motion6-desk@1x.jpg 1x,
                ./images/portfolio/desk/motion6-desk@2x.jpg 2x
              "
              media="(min-width: 768px)" />
              <source
              srcset="
                ./images/portfolio/mob/motion6-mob@1x.jpg 1x,
                ./images/portfolio/mob/motion6-mob@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="img"
              src="./images/portfolio/desk/motion6-desk@1x.jpg"
              width="420"
              alt=""
          /></picture>
        </div>
      </div>
      <a href="./page-portfolio.html" class="showmore-btn btn link"
        >Explore More</a
      >
    </div>
  </div>
</section>
