<section class="gallery-single-project section" id="gallery-single-project">
  <div class="gallery-single-project__container container">
    <div class="video__wrapper">
        <iframe class="video-frame"src="https://www.youtube.com/embed/ard6x0d65EU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="images__wrapper">
      <div class="img__single-project" data-name="design">
        <picture class="img-design">
          <source
            srcset="
              ./images/latest-work/desk/design4-desk@1x.jpg 1x,
              ./images/latest-work/desk/design4-desk@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/latest-work/mob/design4-mob@1x.jpg 1x,
              ./images/latest-work/mob/design4-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="image"
            src="./images/latest-work/desk/design4-desk@1x.jpg"
            width="210"
            alt=""
          />
        </picture>
      </div>
      <div class="img__single-project" data-name="illustration">
        <picture class="img-design">
          <source
            srcset="
              ./images/latest-work/desk/illustration4-desk@1x.jpg 1x,
              ./images/latest-work/desk/illustration4-desk@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/latest-work/mob/illustration4-mob@1x.jpg 1x,
              ./images/latest-work/mob/illustration4-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="image"
            src="./images/latest-work/desk/illustration4-desk@1x.jpg"
            width="210"
            alt=""
          />
        </picture>
      </div>
      <div class="img__single-project" data-name="motion">
        <picture class="img-design">
          <source
            srcset="
              ./images/latest-work/desk/motion1-desk@1x.jpg 1x,
              ./images/latest-work/desk/motion2-desk@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/latest-work/mob/motion1-mob@1x.jpg 1x,
              ./images/latest-work/mob/motion1-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="image"
            src="./images/latest-work/desk/motion1-desk@1x.jpg"
            width="210"
            alt=""
          />
        </picture>
      </div>
      <div class="img__single-project" data-name="design">
        <picture class="img-design">
          <source
            srcset="
              ./images/latest-work/desk/design1-desk@1x.jpg 1x,
              ./images/latest-work/desk/design1-desk@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/latest-work/mob/design1-mob@1x.jpg 1x,
              ./images/latest-work/mob/design1-mob@2x.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="image"
            src="./images/latest-work/desk/design1-desk@1x.jpg"
            width="210"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
