<section class="get-started section">
  <h2 class="visually-hidden">Get started</h2>
  <div class="container">
    <div class="get-started-page">
      <div class="get-started__wrap">
        <div class="get-started__icon">
          <svg class="get-started__icon-img" width="32" height="32">
            <use href="./images/events/events.svg#icon-events-case"></use>
          </svg>
        </div>
        <p class="get-started__text">Get Started</p>
        <p class="get-started__title">We Help Companies Move Faster</p>
        <a class="get-started__link link btn" href="#">Contact Us</a>
      </div>
      <div class="get-started-img">
        <div class="get-started-img__pic"></div>
        <div class="get-started-img__picture">
          <div class="get-started-img__picture-cloud"></div>
          <div class="get-started-img__picture-woman"></div>
        </div>
      </div>
    </div>
  </div>
</section>
