<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#"
        ><img
          srcset="./images/header/logo.png 1x, ./images/header/logo2x.png 2x"
          src="./images/header/logo.png"
          alt="logo"
          width="152"
      /></a>
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link link" href="./page-about.html">About</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link link" href="./page-services.html"
              >Services</a
            >
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link link" href="./page-portfolio.html"
              >Portfolio</a
            >
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link link" href="./page-blog.html">Blog</a>
          </li>
        </ul>
      </nav>
      <button class="menu-toggle menu-desctop js-open-menu" type="button">
        <svg class="heder__icon-menu" width="16" height="14">
          <use
            href="./images/header/icon-menu-agency.svg#icon-combined-shape"
          ></use>
        </svg>
      </button>
      <button class="header__button" type="button">Contact</button>
    </div>
  </div>
  <div class="menu-container js-menu-container">
    <button class="menu-toggle js-close-menu" type="button">
      <svg class="heder__icon-menu" width="30" height="30">
        <use href="./images/icons.svg#icon-icon-menu-close"></use>
      </svg>
    </button>

    <div class="menu__content-wrapper">
      <div>
        <a class="menu__logo" href="#"
          ><img
            class="menu__logo-img"
            srcset="
              ./images/header/logo-menu.png   1x,
              ./images/header/logo-menu2x.png 2x
            "
            src="./images/header/logo-menu.png"
            alt="logo"
            width="152"
        /></a>
        <ul>
          <li class="menu__item"><a class="menu__links" href="#">About</a></li>
          <li class="menu__item">
            <a class="menu__links" href="#">Services</a>
          </li>
          <li class="menu__item"><a class="menu__links" href="#">Team</a></li>
          <li class="menu__item"><a class="menu__links" href="#">Events</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="menu__item">
            <a class="menu__links menu__item-modify" href="#">Service</a>
          </li>
          <li class="menu__item"><a class="menu__links" href="#">Design</a></li>
          <li class="menu__item">
            <a class="menu__links" href="#">Development</a>
          </li>
          <li class="menu__item">
            <a class="menu__links" href="#">Marketing</a>
          </li>
          <li class="menu__item">
            <a class="menu__links" href="#">See Mor</a>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="menu__item">
            <a class="menu__links menu__item-modify" href="#">Projects</a>
          </li>
          <li class="menu__item">
            <a class="menu__links" href="#">Portfolio</a>
          </li>
          <li class="menu__item">
            <a class="menu__links" href="#"> Latest-work</a>
          </li>
          <li><a class="menu__links" href="#">Blog</a></li>
          <li class="menu__item">
            <a class="menu__links" href="#">See More</a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="menu__social-list">
          <li class="menu__social-item">
            <a class="menu__social-link" href="#"
              ><svg width="20" height="20">
                <use
                  href="./images/header/icon-menu-agency.svg#icon-facebook"
                ></use>
              </svg>
            </a>
          </li>
          <li class="menu__social-item">
            <a class="menu__social-link" href="#"
              ><svg width="20" height="20">
                <use
                  href="./images/header/icon-menu-agency.svg#icon-twitter"
                ></use></svg
            ></a>
          </li>
          <li class="menu__social-item">
            <a class="menu__social-link" href="#"
              ><svg width="20" height="20">
                <use
                  href="./images/header/icon-menu-agency.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>
        </ul>
        <button class="menu__button-primary" type="button">Contact</button>
      </div>
    </div>
  </div>
</header>
<script src="./mobile-menu.js"></script>
