<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="logo logo--light link" href="./index.html">
        <svg class="logo__icon" width="48" height="48">
          <use href="./images/icons.svg#icon-pentagon"></use>
        </svg>
        <span class="logo__text">Agency</span>
      </a>
      <nav class="main-nav">
        <ul class="main-nav__list link">
          <li class="main-nav__item">
            <a class="main-nav__link" href="./page-about.html">About</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="./page-services.html">Services</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="./page-portfolio.html">Portfolio</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="./page-blog.html">Blog</a>
          </li>
        </ul>
      </nav>
      <button class="menu-toggle menu-desktop js-open-menu" type="button">
        <svg class="heder__icon-menu" width="16" height="14">
          <use
            href="./images/header/icon-menu-agency.svg#icon-combined-shape"
          ></use>
        </svg>
      </button>
      <button class="header__button" type="button">Contact</button>
    </div>
    <div class="menu-wrap">
      <div class="menu-container js-menu-container">
        <button class="menu-toggle js-close-menu" type="button">
          <svg class="heder__icon-menu" width="30" height="30">
            <use href="./images/icons.svg#icon-icon-menu-close"></use>
          </svg>
        </button>
        <div class="menu__content-wrapper">
          <div class="list-wrap">
            <a class="logo logo link menu__logo" href="./index.html">
              <svg class="logo__icon" width="48" height="48">
                <use href="./images/icons.svg#icon-pentagon"></use>
              </svg>
              <span class="logo__text">Agency</span>
            </a>
            <ul>
              <li class="menu__item">
                <a class="menu__links" href="./page-about.html">About</a>
              </li>
              <li class="menu__item">
                <a class="menu__links" href="./page-services.html">Services</a>
              </li>
              <li class="menu__item">
                <a class="menu__links" href="./page-contact.html">Team</a>
              </li>
              <li class="menu__item">
                <a class="menu__links" href="./page-single-post.html">Events</a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="list-wrap">
              <li class="menu__item">
                <a
                  class="menu__links menu__item-modify"
                  href="./page-services.html"
                  >Service</a
                >
              </li>
              <li class="menu__item">
                <a class="menu__links" href="./page-services.html">Design</a>
              </li>
              <li class="menu__item">
                <a class="menu__links" href="./page-services.html"
                  >Development</a
                >
              </li>
              <li class="menu__item">
                <a class="menu__links" href="./page-services.html">Marketing</a>
              </li>
              <li class="menu__item">
                <a class="menu__links" href="./page-services.html">See Mor</a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="list-wrap">
              <li class="menu__item">
                <a class="menu__links menu__item-modify" href="./page-portfolio"
                  >Projects</a
                >
              </li>
              <li class="menu__item">
                <a class="menu__links" href="./page-portfolio">Portfolio</a>
              </li>
              <li class="menu__item">
                <a class="menu__links" href="./page-single-project">
                  Latest-work</a
                >
              </li>
              <li><a class="menu__links" href="./page-blog">Blog</a></li>
              <li class="menu__item">
                <a class="menu__links" href="./page-portfolio">See More</a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="menu__social-list">
              <li class="menu__social-item">
                <a class="menu__social-link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/header/icon-menu-agency.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="menu__social-item">
                <a class="menu__social-link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/header/icon-menu-agency.svg#icon-twitter"
                    ></use></svg
                ></a>
              </li>
              <li class="menu__social-item">
                <a class="menu__social-link" href="#"
                  ><svg width="20" height="20">
                    <use
                      href="./images/header/icon-menu-agency.svg#icon-instagram"
                    ></use></svg
                ></a>
              </li>
            </ul>
            <button class="menu__button-primary" type="button">Contact</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<script src="./mobile-menu.js"></script>
