<section class="hero">
  <div class="container">
    <img
      class="set-pictures"
      srcset="./images/hero-home/picture.png 1x, ./images/hero-home/picture2x.png 2x"
      src="./images/hero-home/picture.png"
      alt="set-pictures"
      width="329"
    />
    <div class="hero__all-wrapper">
      <div class="hero__content-wrapper">
        <span class="hero__span">Modern Studio</span>
        <h1 class="hero__title">
          We’re Help<br />
          To Build Your Dream Project
        </h1>
        <p class="hero__text">
          Agency provides a full service range including technical skills,
          design, business understanding.
        </p>
        <div class="hero__button-wrapper">
          <button class="hero__button-primary" type="button">
            How We Work
          </button>
          <button class="hero__button-secondary" type="button">
            Contact Us
          </button>
        </div>
        <div class="hero__bottom-wrapper">
          <img
            class="img-man"
            srcset="
              ./images/hero-home/bitmap.png   1x,
              ./images/hero-home/bitmap2x.png 2x
            "
            src="./images/hero-home/bitmap.png"
            alt="man"
            width="48"
          />
          <div>
            <p class="hero__bottom-text">
              "Put themselves in the merchant's shoes"
            </p>
            <span class="hero__bottom-span">&nbsp;Meta Inc.</span>
          </div>
        </div>
      </div>
      <div class="hero__img-wrapper"></div>
    </div>
  </div>
</section>
