<section class="about section example" id="about">
  <div class="about__container container">
    <h2 class="about__title section-title">Latest-work</h2>
    <div class="gallery-card">
      <h3 class="gallery-card__title">Lorem ipsum</h3>
      <p class="gallery-card__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        officiis.
      </p>
      <button
        class="gallery-card__button btn"
        type="button"
        data-modal-follow-open
      >
        action
        <svg class="gallery-card__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>
      <a class="gallery-card__link link" href="/src/page-portfolio.html"
        >Portfolio</a
      >
    </div>
  </div>
</section>
