<div class="modal-testimonials__backdrop is-hidden" data-testimonials-modal>
    <div class="modal-testimonials">
      <button
        class="modal-testimonials__close-btn"
        type="button"
        data-testimonials-modal-close
      >
        <svg class="modal__check" width="24" height="24">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <img srcset="./images/testimonials/alan.jpg 1x, ./images/testimonials/alan-2x.jpg 2x" 
      class="testimonials__images" 
      src="./images/testimonials/alan.jpg"
      alt="users photo" width="80">
  
    
        <p class="testimonials__cards-name">
          Alan Martí <br />
          <span class="testimonials__cards-source">Meta Inc.</span>
        </p>
      
      <svg class="testimonials__icons" width="152" height="24">
        <use href="./images/icons.svg#icon-star"></use>
      
      <p class="testimonials__cards-text">
        A digital agency is a business you hire to outsource your digital
        marketing efforts, instead of handling in-house. They can provide your
        business with a variety of digital solutions to promote your product
        or service online and help you.
      </p>
    </div>
    </div>
  </div>
  <script src="./testimonials.js" type="module"></script>