<section class="new-look__section section">
  <div class="new-look__container container">
    <div class="new-look">
      <div class="new-look__img"></div>
      <div class="new-look__info">
        <h5 class="new-look__uptitle">Features</h5>
        <h2 class="new-look__uptitle">
          Give Your Site 
          A New Look
        </h2>
        <p class="new-look__text">
          Service range including technical skills, design, business understanding.
        </p>
        </div>
    </div>
  </div>
</section>

