<section class="new-look section">
  <div class="new-look__container container">
      <div class="new-look__img"></div>
      <div class="new-look__info">
        <h5 class="new-look__uptitle">Features</h5>
        <h2 class="new-look__title">
          Give Your Site 
          A New Look
        </h2>
        <p class="new-look__text">
          Service range including technical skills, design, business understanding.
        </p>
        <ul class="new-look__list">
           <li class="new-look__item">
            <span class="new-look__wrap">
              <a class="new-look__link" href="#">
              <svg class="new-look__icon" width="18" height="14">
                <use href="./images/icons.svg#icon-path"></use>
              </svg>
            </a>
              <p class="new-look__thesis">Range including technical skills</p>
            </span>
           </li>
           <li class="new-look__item">
            <span class="new-look__wrap">
              <a class="new-look__link" href="#">
              <svg class="new-look__icon" width="18" height="14">
                <use href="./images/icons.svg#icon-path"></use>
              </svg>
            </a>
              <p class="new-look__thesis">Business understanding</p>
            </span>
           </li>
           <li class="new-look__item">
            <span class="new-look__wrap">
              <a class="new-look__link" href="#">
              <svg class="new-look__icon" width="18" height="14">
                <use href="./images/icons.svg#icon-path"></use>
              </svg>
            </a>
              <p class="new-look__thesis">Partner on the long run</p>
            </span>
           </li>
        </ul>
        </div>
  </div>
</section>