<section class="pricing" id="pricing">
  <div class="container">
<p class="pricing__text--red">Pricing</p>
<h2 class="pricing__subtitle">
  Check Our <br />
  Pricing Plans
</h2>
<ul class="pricing__cards-list">
<li class="pricing__cards-item">
   <div class="pricing__cards">
    <p class="pricing__text--hiden">Standart</p>
      <p class="pricing__text--red">Consultation</p>
      <h3 class="pricing__cards-subtile">Free</h3>
      <p class="pricing__cards-text">
        Your digital marketing efforts, instead of handling in-house.
      </p>
      <ul class="pricing-list--option"><li class="pricing__item--options"> <svg class="pricing__icons" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
        ></use> </svg>Brand Design</li>
      <li class="pricing__item--options"> <svg class="pricing__icons" width="16" height="16"> <use href="./images/icons.svg#icon-minus"
        ></use> </svg> Market Analysis</li>
      <li class="pricing__item--options"> <svg class="pricing__icons" width="16" height="16"> <use href="./images/icons.svg#icon-minus"
        ></use> </svg>Production</li></ul>
        <a href="#" class="btn link pricing__link-contact-us">Contact Us</a>
      </div>
    </li>
    <li class="pricing__cards-item">
      <div class="pricing__cards">
        <p class="pricing__text--hiden">Popular</p>
        <p class="pricing__text--red">Design</p>
        <h3 class="pricing__cards-subtile"> &#36;1500</h3>
        <p class="pricing__cards-text">
          Provide your business with a variety of digital solutions to promote.
        </p>
        <ul class="pricing__list--option"><li class="pricing__item--options"> <svg class="pricing__icons" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
          ></use> </svg>Brand Design</li>
        <li class="pricing__item--options"> <svg class="pricing__icons" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
          ></use> </svg> Market Analysis</li>
        <li class="pricing__item--options"> <svg class="pricing__icons" width="16" height="16"> <use href="./images/icons.svg#icon-minus"
          ></use> </svg>Production</li></ul>
         <a href="#" class="btn link pricing__link-contact-us">Contact Us</a>
        <li class="pricing__cards-item">
          
        <div class="pricing__cards">
          <p class="pricing__text--hiden">Maximal</p>
          <p class="pricing__text--red">Design&#43;Code</p>
          <h3 class="pricing__cards-subtile">&#36;2900</h3>
          <p class="pricing__cards-text">
            Help you hit your marketing goals and grow your business.
          </p>
          <ul class="pricing__list--option"><li class="pricing__item--options"> <svg class="pricing__icons" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
            ></use> </svg>Brand Design</li>
          <li class="pricing__item--options"> <svg class="pricing__icons" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
            ></use> </svg> Market Analysis</li>
          <li class="pricing__item--options"> <svg class="pricing__icons" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
            ></use> </svg>Production</li></ul>
         <a href="#" class="btn link pricing__link-contact-us">Contact Us</a> 
          </div>
        </li>
        </ul>
      </div>
      </section>