<section class="about section example" id="about">
  <div class="about__container container">
    <h2 class="about__title section-title">Services</h2>
    <div class="gallery-card">
      <h3 class="gallery-card__title">Lorem ipsum</h3>
      <p class="gallery-card__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        officiis.
      </p>
      <button class="gallery-card__button btn" type="button" data-modal-follow-open>
        action
        <svg class="gallery-card__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-btn"></use>
        </svg>
      </button>
      <a class="gallery-card__link link" href="/src/page-services.html">Services</a>
    </div>
  </div>
</section>









<section class="services__section section">
<div class="container">
    <h5 class="services__uptitle">Services</h5>
  <div class="description__wrap">
      <h3 class="services__title">Digital agency is a business you hire to outsource your digital marketing efforts</h3>
      <p class="services__description">Ability to put themselves in the merchant's shoes. It is meant to partner on the long
        run, and work as an extension of the merchant's team.
        <br>
        <br>
    
        A digital agency is a business you hire to outsource your digital marketing efforts, instead of handling in-house.
        They can provide your business with a variety of digital solutions to promote your product or service online and
        help you.</p>
  </div>
  
    <ul class="services__list">
      <li class="services__item">
        <input id="design" class="info__switch" type="checkbox">
        <label for="design" class="info__click"><span class="services__icon design">Design</span></label>
        <div class="design__hidden">
          <h3 class="design__title">Agency is a business you hire to outsource your digital marketing efforts</h3>
          <p class="design__text">Business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide
            your business with a variety of digital solutions to promote your product or service online and help you.</p>
          <ul>
            <li class="design__item">Web Development</li>
            <li class="design__item">Brand Strategy</li>
            <li class="design__item">Art Direction</li>
          </ul>
        </div>
      </li>
      <li class="services__item">
        <input id="development" class="info__switch" type="checkbox">
        <label for="development" class="info__click"><span class="services__icon development">Deve&shy;lop&shy;ment</span></label>
        <div class="design__hidden">
          <h3 class="design__title">Agency is a business you hire to outsource your digital marketing efforts</h3>
          <p class="design__text">Business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide
            your business with a variety of digital solutions to promote your product or service online and help you.</p>
          <ul>
            <li class="design__item">Web Development</li>
            <li class="design__item">Brand Strategy</li>
            <li class="design__item">Art Direction</li>
          </ul>
        </div>
      </li>
      <li class="services__item">
        <input id="marketing" class="info__switch" type="checkbox">
        <label for="marketing" class="info__click"><span class="services__icon marketing">Mar&shy;ke&shy;ting</span></label>
        <div class="design__hidden">
          <h3 class="design__title">Agency is a business you hire to outsource your digital marketing efforts</h3>
          <p class="design__text">Business you hire to outsource your digital marketing efforts, instead of handling in-house. They can provide
            your business with a variety of digital solutions to promote your product or service online and help you.</p>
          <ul>
            <li class="design__item">Web Development</li>
            <li class="design__item">Brand Strategy</li>
            <li class="design__item">Art Direction</li>
          </ul>
        </div>
      </li>

    </ul>
</div>
</section>