<section class="testimonials" id="testimonials">
  <div class="container ">
  <p class="testimonials__text--red">Testimonials</p>
  <h2 class="testimonials__subtitle">
    What Our <br />
    Clients Saying
  </h2>
  <ul class="testimonials__list">
    <li class="testimonials__item">
      <div class="testimonials__cards-reviews">
        <div
          class="testimonials__cards-wrapper testimonials__cards-wrapper--first"
        >
       
        <img srcset="./images/testimonials/alan.jpg 1x, ./images/testimonials/alan-2x.jpg 2x" 
        class="testimonials__images" 
        src="./images/testimonials/alan.jpg"
        alt="users photo" width="80">

      
          <p class="testimonials__cards-name">
            Alan Martí <br />
            <span class="testimonials__cards-source">Meta Inc.</span>
          </p>
        </div>
        <svg class="testimonials__icons" width="152" height="24">
          <use href="./images/icons.svg#icon-star"></use>
        
        <p class="testimonials__cards-text">
          A digital agency is a business you hire to outsource your digital
          marketing efforts, instead of handling in-house. They can provide your
          business with a variety of digital solutions to promote your product
          or service online and help you.
        </p>
       <button type="button" class="testimonials__modal-btn"
       data-testimonials-modal-open-1>
      Read more 
      </button>
        
        
      </div>
    </li>
    <li class="testimonials__item">
      <div class="testimonials__cards-reviews">
        <div
          class="testimonials__cards-wrapper testimonials__cards-wrapper--second"
        >
        <img srcset="./images/testimonials/richard.jpg 1x, ./images/testimonials/richard-2x.jpg 2x" 
        class="testimonials__images" 
        src="./images/testimonials/richard.jpg"
        alt="users photo" width="80">
          <p class="testimonials__cards-name">
            Richardo <br />
            Kann <br />
            <span class="testimonials__cards-source">Photogram</span>
          </p>
        </div>
        <svg class="testimonials__icons" width="152" height="24">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        <p class="testimonials__cards-text">
          Provide your business with a variety of digital solutions to promote
          your product or service online.
        </p>
        <button type="button"
        class="testimonials__modal-btn"
        data-testimonials-modal-open-2>Read more </button>
      </div>
    </li>
    <li class="testimonials__item">
      <div class="testimonials__cards-reviews">
        <div
          class="testimonials__cards-wrapper testimonials__cards-wrapper--third"
        >
        <img srcset="./images/testimonials/graham.jpg 1x, ./images/testimonials/graham-2x.jpg 2x" 
        class="testimonials__images" 
        src="./images/testimonials/graham.jpg"
        alt="users photo" width="80">
          <p class="testimonials__cards-name">
            Graham <br />
            Griffiths <br />
            <span class="testimonials__cards-source">Twitor</span>
          </p>
        </div>
        <svg class="testimonials__icons" width="152" height="24">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        <p class="testimonials__cards-text">
          Outsource your digital marketing efforts, instead of handling
          in-house. They can provide your business with a variety.
        </p>
        <button type="button" class="testimonials__modal-btn" data-testimonials-modal-open-3>Read more </button>
      </div>
    </li>
    <li class="testimonials__item">
      <div class="testimonials__cards-reviews">
        <div
        class="testimonials__cards-wrapper testimonials__cards-wrapper--fourth"
      >   <img srcset="./images/testimonials/maria.jpg 1x, ./images/testimonials/maria-2x.jpg 2x" 
      class="testimonials__images" 
      src="./images/testimonials/maria.jpg"
      alt="users photo" width="80">
        <p class="testimonials__cards-name">
       
          Maria <br />
          Trofimova <br />
          <span class="testimonials__cards-source">Whochat</span>
        </p>
      </div>
        <svg class="testimonials__icons" width="152" height="24">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        <p class="testimonials__cards-text">
          Promote your product or service online and help you hit your marketing
          goals and grow your business.
        </p>
        <button type="button" class="testimonials__modal-btn" data-testimonials-modal-open-4>Read more </button>
      </div>
    </li>
  </ul>
 <a href="#" class="btn link testimonials__link-see-all">See All</a>

</div>

</section>
