<section class="testimonials">
  <div class="container testimonials__wrapper">
  <p class="testimonials__text--red">Testimonials</p>
  <h2 class="testimonials__subtitle">
    What Our <br />
    Clients Saying
  </h2>
  <ul class="testimonials__list">
    <li class="testimonials__item">
      <div class="testimonials__cards-reviews">
        <div
          class="testimonials__cards-wrapper testimonials__cards-wrapper--first"
        >
       
        <img srcset="./images/testimonials/alan.jpg 1x, ./images/testimonials/alan-2x.jpg 2x" 
        class="testimonials__images" 
        src="./images/testimonials/alan.jpg"
        alt="users photo" width="80">

      
          <p class="testimonials__cards-name">
            Alan Martí <br />
            <span class="testimonials__cards-source">Meta Inc.</span>
          </p>
        </div>
        <svg class="testimonials__icons" width="152" height="24">
          <use href="./images/icons.svg#icon-star"></use>
        
        <p class="testimonials__cards-text">
          A digital agency is a business you hire to outsource your digital
          marketing efforts, instead of handling in-house. They can provide your
          business with a variety of digital solutions to promote your product
          or service online and help you.
        </p>
       <button type="button" class="testimonials__modal-btn"
       data-testimonials-modal-open-1>
      Read more 
      </button>
        
        
      </div>
    </li>
    <li class="testimonials__item">
      <div class="testimonials__cards-reviews">
        <div
          class="testimonials__cards-wrapper testimonials__cards-wrapper--second"
        >
        <img srcset="./images/testimonials/richard.jpg 1x, ./images/testimonials/richard-2x.jpg 2x" 
        class="testimonials__images" 
        src="./images/testimonials/richard.jpg"
        alt="users photo" width="80">
          <p class="testimonials__cards-name">
            Richardo <br />
            Kann <br />
            <span class="testimonials__cards-source">Photogram</span>
          </p>
        </div>
        <svg class="testimonials__icons" width="152" height="24">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        <p class="testimonials__cards-text">
          Provide your business with a variety of digital solutions to promote
          your product or service online.
        </p>
        <button type="button"
        class="testimonials__modal-btn"
        data-testimonials-modal-open-2>Read more </button>
      </div>
    </li>
    <li class="testimonials__item">
      <div class="testimonials__cards-reviews">
        <div
          class="testimonials__cards-wrapper testimonials__cards-wrapper--third"
        >
        <img srcset="./images/testimonials/graham.jpg 1x, ./images/testimonials/graham-2x.jpg 2x" 
        class="testimonials__images" 
        src="./images/testimonials/graham.jpg"
        alt="users photo" width="80">
          <p class="testimonials__cards-name">
            Graham <br />
            Griffiths <br />
            <span class="testimonials__cards-source">Twitor</span>
          </p>
        </div>
        <svg class="testimonials__icons" width="152" height="24">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        <p class="testimonials__cards-text">
          Outsource your digital marketing efforts, instead of handling
          in-house. They can provide your business with a variety.
        </p>
        <button type="button" class="testimonials__modal-btn" data-testimonials-modal-open-3>Read more </button>
      </div>
    </li>
    <li class="testimonials__item">
      <div class="testimonials__cards-reviews">
        <div
        class="testimonials__cards-wrapper testimonials__cards-wrapper--fourth"
      >   <img srcset="./images/testimonials/maria.jpg 1x, ./images/testimonials/maria-2x.jpg 2x" 
      class="testimonials__images" 
      src="./images/testimonials/maria.jpg"
      alt="users photo" width="80">
        <p class="testimonials__cards-name">
       
          Maria <br />
          Trofimova <br />
          <span class="testimonials__cards-source">Whochat</span>
        </p>
      </div>
        <svg class="testimonials__icons" width="152" height="24">
          <use href="./images/icons.svg#icon-star"></use>
        </svg>
        <p class="testimonials__cards-text">
          Promote your product or service online and help you hit your marketing
          goals and grow your business.
        </p>
        <button type="button" class="testimonials__modal-btn" data-testimonials-modal-open-4>Read more </button>
      </div>
    </li>
  </ul>
 <a href="#" class="btn link testimonials__link-see-all">See All</a>
  <p class="testimonials__text-price--red">Pricing</p>
  <h2 class="testimonials__subtitle testimonials__subtitle-price">
    Check Our <br />
    Pricing Plans
  </h2>
 <ul class="testimonials__price-cards-list">
  <li class="testimonials__cards-prices-item">
     <div class="testimonials__prices-cards">
      <p class="testemonials__text--hiden">Standart</p>
        <p class="testimonials__text-price--red">Consultation</p>
        <h3 class="testimonials__cards-price-subtile">Free</h3>
        <p class="testimonials__cards-price-text">
          Your digital marketing efforts, instead of handling in-house.
        </p>
        <ul class="testimonials__prices-list--option"><li class="testimonials__prices-item--options"> <svg class="testimonials__icons-prices" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
          ></use> </svg>Brand Design</li>
        <li class="testimonials__prices-item--options"> <svg class="testimonials__icons-prices" width="16" height="16"> <use href="./images/icons.svg#icon-minus"
          ></use> </svg> Market Analysis</li>
        <li class="testimonials__prices-item--options"> <svg class="testimonials__icons-prices" width="16" height="16"> <use href="./images/icons.svg#icon-minus"
          ></use> </svg>Production</li></ul>
          <a href="#" class="btn link testimonials__link-contact-us">Contact Us</a>
        </div>
      </li>
      <li class="testimonials__cards-prices-item">
        <div class="testimonials__prices-cards">
          <p class="testemonials__text--hiden">Popular</p>
          <p class="testimonials__text-price--red">Design</p>
          <h3 class="testimonials__cards-price-subtile"> &#36;1500</h3>
          <p class="testimonials__cards-price-text">
            Provide your business with a variety of digital solutions to promote.
          </p>
          <ul class="testimonials__prices-list--option"><li class="testimonials__prices-item--options"> <svg class="testimonials__icons-prices" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
            ></use> </svg>Brand Design</li>
          <li class="testimonials__prices-item--options"> <svg class="testimonials__icons-prices" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
            ></use> </svg> Market Analysis</li>
          <li class="testimonials__prices-item--options"> <svg class="testimonials__icons-prices" width="16" height="16"> <use href="./images/icons.svg#icon-minus"
            ></use> </svg>Production</li></ul>
           <a href="#" class="btn link testimonials__link-contact-us">Contact Us</a>
          <li class="testimonials__cards-prices-item">
            
          <div class="testimonials__prices-cards">
            <p class="testemonials__text--hiden">Maximal</p>
            <p class="testimonials__text-price--red">Design&#43;Code</p>
            <h3 class="testimonials__cards-price-subtile">&#36;2900</h3>
            <p class="testimonials__cards-price-text">
              Help you hit your marketing goals and grow your business.
            </p>
            <ul class="testimonials__prices-list--option"><li class="testimonials__prices-item--options"> <svg class="testimonials__icons-prices" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
              ></use> </svg>Brand Design</li>
            <li class="testimonials__prices-item--options"> <svg class="testimonials__icons-prices" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
              ></use> </svg> Market Analysis</li>
            <li class="testimonials__prices-item--options"> <svg class="testimonials__icons-prices" width="16" height="16"> <use href="./images/icons.svg#icon-plus"
              ></use> </svg>Production</li></ul>
           <a href="#" class="btn link testimonials__link-contact-us">Contact Us</a> 
            </div>
          </li>
          </ul>
</div>

<!-- MODAL-READ-MORE -->
<div class="modal-testimonials__backdrop is-hidden" data-testimonials-modal>
  <div class="modal-testimonials">
    <button
      class="modal-testimonials__close-btn"
      type="button"
      data-testimonials-modal-close
    >
      <svg class="modal__check" width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <img srcset="./images/testimonials/alan.jpg 1x, ./images/testimonials/alan-2x.jpg 2x" 
    class="testimonials__images" 
    src="./images/testimonials/alan.jpg"
    alt="users photo" width="80">

  
      <p class="testimonials__cards-name">
        Alan Martí <br />
        <span class="testimonials__cards-source">Meta Inc.</span>
      </p>
    
    <svg class="testimonials__icons" width="152" height="24">
      <use href="./images/icons.svg#icon-star"></use>
    
    <p class="testimonials__cards-text">
      A digital agency is a business you hire to outsource your digital
      marketing efforts, instead of handling in-house. They can provide your
      business with a variety of digital solutions to promote your product
      or service online and help you.
    </p>
  </div>
  </div>
</div>

</section>
<script src="./testimonials.js" type="module"></script>