.section-title {
  text-align: center;
  margin-bottom: 15px;

  color: var(--col-title-primary);

  font-family: 'Epilogue', sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: calc(48 / 40);
}
