.awards__container {
  display: flex;
  flex-direction: column;
}

.awards__list {
  display: flex;
  flex-direction: column;
  text-align: center;
justify-content: center;
  gap: 30px;
}

.awards__item {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
}
}

.award-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop {
        flex-direction: row;
    }
    
}

.company-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }
}

.awards__img {
  width: 120px;
  border-radius: 4px;
}

.award__date {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(32 / 16);
  text-align: center;
  color: var(--color-text-inactive-dark);
  margin-inline: auto;
}

.award__company {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(32 / 16);
  margin-right: 24px;
}

.award__category {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(32 / 20);
  text-align: center;
  margin-left: 24px;
}
