.awards__container {
  display: flex;
  flex-direction: column;
}

.awards__list {
  display: flex;
  flex-direction: column;
  text-align: center;
justify-content: center;
  gap: 30px;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: column;
  }
}

.awards__item {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  align-content: center;
  @include desktop {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
}
}

.award-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    

    @include desktop {
        flex-direction: row;
    }
    
}

.company-wrapper {
    display: flex;
    align-items: center;
   
    flex-direction: column;
    

    @include desktop {
        flex-direction: row;
        margin-left: auto;
    }
}

.awards__img {
  width: 240px;
  border-radius: 4px;

  @include desktop {
    width: 120px;
  }
}

.award__date {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(32 / 16);
  text-align: center;
  color: var(--color-text-inactive-dark);
  margin-inline: auto;
}

.award__company {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(32 / 16);
  margin-inline: auto;

  @include desktop {
    margin-right: 24px;
  }
}

.award__category {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(32 / 20);
  text-align: center;
  margin-inline: auto;
  @include desktop {
    margin-left: 24px;
  }
}

.award_logo {
  display: block;
  margin-inline: auto;
  width: 48px;
}