.contacts__list {
  border: var(--border);
  border-radius: 6px;
  overflow: hidden;
  @include desktop {
    display: flex;
  }
}

.contacts__item {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 33px;
  padding-bottom: 37px;
  width: 100%;
  &:not(:last-child) {
    border-bottom: var(--border);
    @include desktop {
      border-bottom: none;
      border-right: var(--border);
    }
  }
}

.contacts__wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 26px;
}

.contacts__title {
  display: inline-flex;
  gap: 24px;
  align-items: center;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--col-accent-primary);

  transition-property: all;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--cubic-function);
  &:hover,
  &:focus {
    color: var(--col-btn-hover-dark);
    transform: scale(1.05);
  }
}

.contacts__link {
  font-size: 20px;
  line-height: 1.6;
  color: var(--col-text-primary);

  transition-property: all;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--cubic-function);
  &:hover,
  &:focus {
    color: var(--col-accent-primary);
    transform: scale(1.05);
  }
}

.contacts__wrap {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--col-bg-icon);
  color: var(--col-btn-default);

  transition-property: all;
  transition-duration: var(--animation-time);
  transition-timing-function: var(--cubic-function);
  .contacts__title:hover &,
  .contacts__title:focus & {
    background-color: var(--col-btn-default);
    color: var(--col-btn-hover-dark);
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
  }
}

.contacts__icon {
  fill: currentColor;
}

.section--contacts {
  padding-top: 32px;
  padding-bottom: 64px;
  @include desktop {
    padding-top: 80px;
  }
}
