.events {
  background-color: var(--col-bg-dark);
  color: var(--col-text-secondary);
}

.events-get-started {
  position: relative;
  padding: 92px 28px 0 28px;
  background: var(--col-bg-primary);
  border-radius: 6px;
  margin-bottom: 140px;

  @include tablet {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  @include desktop  {
    padding: 0 96px 0 100px;
    height: 336px;
  }
}

.events-get-started__wrap {
  position: relative;

  @include desktop {
    width: 255px;
    padding-bottom: 34px;
  }
}

.events-get-started__icon {
  position: absolute;
  top: -167px;
  left: -14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 148px;
  background-image: url(../images/events/events-star.png);
}

.events-get-started__text {
  font-size: 16px;
  line-height: calc(32px / 16px);
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--col-bg-middle);
  margin-bottom: 13px;
}

.events-get-started__title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32px / 24px);
  color: var( --col-text-primary);
  margin-bottom: 23px;
}

.events-get-started__link {
  display: inline-block;
  font-weight: 900;
  font-size: 14px;
  line-height: calc(14px / 14px);
  text-align: center;
  text-transform: uppercase;
  padding: 18px 32px;
  color: var(--col-text-secondary);
  background: var(--col-bg-middle);
  border-radius: 6px;
  margin-bottom: 29px;
}

.events-get-img {
  position: relative;

  @media screen and (max-width: 767px) {
    padding-bottom: 36px;
  }

  @include desktop {
    display: flex;
  }
}

.events-get-img__pic {
  background-image: url(../images/events/events-img@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 232px;

  @include retina {
    background-image: url(../images/events/events-img@2x.png);
  }

  @media screen and (max-width: 479px) {
    margin-bottom: 67px;
  }

  @include mobile {
    background-image: url(../images/events/events-img-desktop@1x.png);
    width: 338px;
    margin-left: auto;
    margin-right: auto;

    @include retina {
    background-image: url(../images/events/events-img-desktop@2x.png);
    }
  }

  @include desktop {
    height: 288px;
    margin-bottom: 0;
  }
}

.events-get-img__picture-cloud {
  background-image: url(../images/events/events-cloud@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 226px;
  height: 194px;

  @include retina {
    background-image: url(../images/events/events-cloud@2x.png);
  }

  @media screen and (min-width: 400px) {
    margin: 0 auto;
  }

  @include mobile {
    display: none;
  }

  @include desktop {
    display: flex;
    background-image: url(../images/events/events-cloud-desktop@1x.png);
    background-position: 41px 0;
    background-size: 282px 242px;
    width: 324px;
    height: 245px;

    @include retina {
      background-image: url(../images/events/events-cloud-desktop@2x.png);
    }
  }
}

.events-get-img__picture-woman {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 191px;
  height: 317px;
  margin-right: -50%;
  transform: translate(-50%);
  background-image: url(../images/events/events-woman@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  @include retina {
    background-image: url(../images/events/events-woman@2x.png);
  }

  @include mobile {
    display: none;
  }

  @include desktop {
    display: block;
    left: 86%;
    width: 239px;
    height: 396px;
    background-image: url(../images/events/events-woman-desktop@1x.png);

    @include retina {
      background-image: url(../images/events/events-woman-desktop@2x.png);
    }
  }
}

.events-page__text {
  font-size: 16px;
  line-height: calc(32px / 16px);
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--col-bg-middle);
  margin-bottom: 21px;
}

.events-page__title {
  font-weight: 800;
  font-size: 40px;
  line-height: calc(48px / 40px);
  color: var(--col-text-secondary);
  text-align: center;
  margin-bottom: 33px;

  @include desktop {
    font-weight: 800;
    font-size: 56px;
    line-height: calc(64px / 56px);
    letter-spacing: -1px;
    margin: 0 auto;
    max-width: 426px;
  }
}

.events-page__list {
  @include desktop {
    display: flex;
    gap: 30px;
    margin-top: 64px;
  }
}

.events-page__item {
  flex-basis: calc((100% - 30px) / 3);
  padding: 36px 28px;
  border: 1px solid #3a3c56;
  border-radius: 6px;
}

.events-page__item:not(:last-child) {
  @media screen and (max-width: 1169px) {
    margin-bottom: 32px;
  }
}

.events-page__data {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.events-page__data-number {
  font-weight: 800;
  font-size: 72px;
  line-height: calc(80px / 72px);
  letter-spacing: -2px;
  margin-right: 12px;
  margin-top: 2px;
}

.events-page__data-month {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32px / 24px);
}

.events-page__time {
  display: flex;
  align-items: center;
  padding-bottom: 36px;
  border-bottom: 1px solid #3a3c56;
}

.events-page__time-icon {
  margin-right: 8px;
}

.events-page__time-hours {
  font-size: 16px;
  line-height: calc(32px / 16px);
}

.events-page__desc {
  padding-top: 40px;
}

.events-page__desc-title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32px / 24px);
  margin-bottom: 19px;
}

.events-page__desc-text {
  font-size: 16px;
  line-height: calc(32px / 16px);
  color: rgba(255, 255, 255, 0.64);
  margin-bottom: 34px;
}

.events-page__desc-link {
  display: inline-block;
  font-size: 16px;
  line-height: calc(32px / 16px);
  color: var(--col-bg-light);
  transition: transform var(--cubic-function) var(--animation-time);

  &:hover,
  &:focus {
    color: var(--col-btn-focus);
    text-shadow: 2px 2px 6px #191a30;
    transform: scale(1.1);
  }
}

.events__link {
  width: 178px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #0000;
  border: 1px solid var(--col-btn-bg-focus);
  padding: 18px 30px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
}


