.features__section {
padding-top: 44px;
padding-bottom: 49px;
background-color: var(--col-bg-primary);
      
@include desktop {
padding-top: 101px;
padding-bottom: 126px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
}
    
.features__container {
@include desktop {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center; 
}
}

.features-long {
margin-top: 40px;
margin-bottom: 36px;
}
     
.features-long__title {
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(32 / 16);
letter-spacing: 3px;
text-transform: uppercase;
color: #EF6D58;
margin-bottom: 30px;
}
    
.features-long__text {
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: calc(32 / 20);
color: #391400;
margin-bottom: 32px;
    
@include desktop {
    margin-bottom: 28px;
    margin-right: 130px;
}
}

.features-long__link {
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(32 / 16);
color: #391400;
}

.features-professional {
max-width: 329px;
width: 100%;
height: 336px;
background: #FFFFFF;
border: 1px solid #F3D1BF;
box-shadow: 0px 32px 64px rgba(57, 20, 0, 0.04);
border-radius: 6px 6px 0px 0px;

padding-top: 48px;
padding-bottom: 46px;
padding-right: 41px;
padding-left: 48px;

@include mobile {
max-width: 434px;
width: 100%;    
}

@include tablet {
max-width: 722px;
width: 100%;    
}

@include desktop {
max-width: 336px;
width: 100%;
height: 336px;
border-radius: 6px 6px 0px 6px;
padding-right: 48px;
}
}

.features-professional__link {
width: 80px;
height: 80px;
background: #EF6C57;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 41px;
}
    
.features-professional__icon {
fill: #FFFFFF;
}

.features-professional__title {
font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: calc(32 / 24);
color: #391400;
margin-bottom: 19px;
} 

.features-professional__text {
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(32 / 16);
color: rgba(57, 20, 0, 0.64);
}

.features-accessibility {
max-width: 329px;
width: 100%;
height: 272px;
border: 1px solid #F3D1BF;
border-radius: 0px 0px 6px 6px;

padding-top: 106px;
padding-bottom: 45px;
padding-right: 41px;
padding-left: 48px;

@include mobile {
max-width: 434px;
width: 100%;    
}

@include tablet {
max-width: 722px;
width: 100%;    
}

@include desktop {
max-width: 336px;
width: 100%;
height: 272px;
border: 1px solid #F3D1BF;
border-radius: 0px 6px 6px 0px;

padding-top: 105px;
padding-bottom: 46px;
padding-right: 48px;
padding-left: 48px;
margin-top: 64px; 
}
}
.features-accessibility__title {
font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: calc(32 / 24);
color: #391400;
margin-bottom: 19px;
}

.features-accessibility__text {
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: rgba(57, 20, 0, 0.64);
}

