.footer {
    background-color: var(--col-bg-primary);
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    }

    .footer a{
    text-decoration: none;
    }
    
    .footer__container {
    width: 100%;
    margin: 0 auto;
    @include tablet {
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
    }
    @include desktop {
        max-width: 1200px;
        width: 100%;
        align-items: baseline;
    }
    }
    
    .footer__help {
        position: relative;
        max-width: 329px;
        width: 100%;
        height: 784px;
        background-color: var(--col-bg-middle);
        border-radius: 6px;
        padding: 32px 27px;
        margin-bottom: 105px;
    }
    
    .footer__img {
    background: transparent;
    margin-bottom: 37px;
    }
    
   .footer-main {
    position: absolute;
    top: 333px;
    right: 27px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   } 
    
    .footer__uptitle {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: calc(48 / 40);
    color: var(--col-title-secondary);
    margin-bottom: 15px;
    }
    
    .footer__text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(32 / 16);
    color: rgba(255, 255, 255, 0.64); 
    margin-bottom: 21px;   
    }
    
    .footer__btn {
    background: #FFFFFF;
    box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
    border-radius: 6px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: calc(14 / 14);
    text-align: center;
    text-transform: uppercase;
    color: #391400;
    }

    .footer__title-agency {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(32 / 24);
    text-align: center;
    color: #391400;
    margin-bottom: 51px;
    }
    
    
    .footer__title {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(32 / 16);
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #EF6D58;  
    margin-bottom: 16px;
    }

    .footer__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
    @include desktop {
        align-items: flex-start;
    }
    }

    .footer__link {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(32 / 16);
    text-align: center;
    color: #391400;
    }

    .footer__text-bottom {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(32 / 16);
    text-align: center;
    color: rgba(57, 20, 0, 0.64);
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
    }
   
   
   
   
    .footer-icons {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    @include tablet {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    @include desktop {
        margin-right: 94px;
        align-items: flex-start;
    }
    }
    
    .footer-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
    }
    
    .footer-icons-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 20px;
    }
    
    .footer-soc-list {
    width: 44px;
    height: 44px;
    }
    
    .footer-soc-list-link {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--color-change);
    }
    }
    
    .footer-soc-list-link-icon {
    fill: var(--color-white);
    }
    



