.latest-work__title--hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  left: 28px;
  top: 20px;
  width: 1px;
  word-wrap: normal !important;
}

.latest-work__wrapper--gallery {
  display: flex;
  flex-wrap: wrap;
}

.img__wrapper--gallery {
  flex-basis: 30%;

  &:nth-child(-n + 6) {
    display: flex;
    flex-basis: 30%;
  }
}

.filter-btn--gallery {
  color: var(--color-text-inactive-dark);
  &:hover,
  &:focus {
    color: var(--col-text-primary);
    text-shadow: 0px 0px 3px var(--color-text-inactive-dark);
    transform: scale(1.1);
  }
}

.all-count--gallery,
.motion-count--gallery,
.illustration-count--gallery,
.branding-count--gallery,
.design-count--gallery {
  color: var(--color-text-inactive-dark);
}
