.hero {
  background-color: var(--col-bg-dark);
  padding-bottom: 32px;

  @include desktop {
    padding-top: 108px;
    padding-bottom: 56px;
  }
}

.set-pictures {
  margin-bottom: 30px;

  @include desktop {
    display: none;
  }
}

.hero__content-wrapper {
  @include desktop {
    background-image: url(../images/hero-home/star.png);
    background-repeat: no-repeat;
    background-position: 278px 22px;
  }
}

.hero__img-mob {
  margin-bottom: 30px;

  @include desktop {
    display: none;
  }
}

.hero__span {
  display: block;
  font-family: 'Epilogue';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(32 / 16);
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
  margin-bottom: 20px;

  @include desktop {
    margin-bottom: 24px;
  }
}

.hero__title {
  max-width: 513px;
  font-family: 'Epilogue';
  font-weight: 800;
  font-size: 56px;
  line-height: calc(64 / 56);
  letter-spacing: -1px;
  color: #ffffff;
  margin-bottom: 12px;

  @include desktop {
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    color: #ffffff;
    margin-bottom: 34px;
  }
}

.hero__text {
  max-width: 500px;
  display: block;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(32 / 16);
  color: rgba(255, 255, 255, 0.64);
  margin-bottom: 34px;
}

.hero__button-primary {
  font-family: 'Epilogue';
  font-weight: 900;
  font-size: 14px;
  line-height: calc(14 / 14);
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--col-btn-bg-default-primary);
  border-radius: 6px;
  padding: 18px 23px;
  border: 1px solid #ef6d58;

  &:hover,
  :focus {
    color: var(--col-btn-focus);
    background-color: transparent;
  }

  @include desktop {
    margin-right: 26px;
  }
}

.hero__button-secondary {
  font-family: 'Epilogue';
  font-weight: 900;
  font-size: 14px;
  line-height: calc(14 / 14);
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 6px;
  padding: 18px 23px;
  border: 1px solid var(--col-bg-dark);
  background-color: var(--col-bg-dark);

  &:hover,
  :focus {
    color: var(--col-btn-focus);
    border: 1px solid #ef6d58;
    background-color: transparent;
  }
}

.hero__bottom-wrapper {
  display: flex;
  align-items: center;
}

.img-man {
  margin-right: 16px;
}

.hero__bottom-text {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(32 / 16);
  color: rgba(255, 255, 255, 0.64);
}

.hero__bottom-span {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(32 / 16);
  color: #ffffff;
}

.img-man {
  margin-right: 16px;
}

.hero__button-wrapper {
  margin-bottom: 108px;
}

.hero__img-wrapper {
  @include desktop {
    width: 570px;
    height: 602px;
    background-color: transparent;
    background-image: url(../images/hero-home/shape.png),
      url(../images/hero-home/oval2.png), url(../images/hero-home/girl.png),
      url(../images/hero-home/line.png), url(../images/hero-home/line1.png),
      url(../images/hero-home/laptope.png),
      url(../images/hero-home/combined-shape.png),
      url(../images/hero-home/oval.png), url(../images/hero-home/path.png);
    background-repeat: no-repeat;
    background-position: top 68px right 189px, top 40px right 154px,
      bottom 107px right, bottom 187px left, 314px 550px, 24px 21px, top left,
      center, right 80px;
  }

  @include retina {
    background-image: url(../images/hero-home/shape2x.png),
      url(../images/hero-home/oval2-2x.png), url(../images/hero-home/girl2x.png),
      url(../images/hero-home/line2x.png), url(../images/hero-home/line1-2x.png),
      url(../images/hero-home/laptope2x.png),
      url(../images/hero-home/combined-shape2x.png),
      url(../images/hero-home/oval2x.png), url(../images/hero-home/path2x.png);
  }
}

.hero__all-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
