.features-long__title {
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(32 / 16);
letter-spacing: 3px;
text-transform: uppercase;
color: #EF6D58;
margin-bottom: 30px;
}

.features-long__text {
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: calc(32 / 20);
color: #391400;
margin-bottom: 32px;

@include desktop {
margin-bottom: 28px;
}
}
