.new-look {
padding-top: 48px;
padding-bottom: 52px;
background-color: var(--col-bg-primary);
  
@include desktop {
padding-left: 135px;
padding-right: 135px;
padding-top: 95px;
padding-bottom: 101px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
}
  
.new-look__img {
max-width: 329px;
width: 100%;
height: 328px;
background-image: url(../images/new-look/bitmap-smile.png),
url(../images/new-look/mask.png), 
url(../images/new-look/background.jpg), 
url(../images/new-look/combined-shape.png), 
url(../images/new-look/path-beige.png), 
url(../images/new-look/rectangle-beige.png),
url(../images/new-look/rectangle-yellow.png);
  background-size: 113px 169px, 184px 184px, 470px 290px, 261px 120px, 215px 130px, 447px 148px, 316px 181px;
  
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 37px;
}
  
.new-look__uptitle {
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(32 / 16);
letter-spacing: 3px;
text-transform: uppercase;
color: #EF6D58;
margin-bottom: 18px;
  
@include desktop {
margin-bottom: 20px;    
}
}

.new-look__title {
font-family: 'Epilogue';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: calc(48 / 36);
color: #391400;
margin-bottom: 12px;

@include desktop {
font-size: 56px;
line-height: calc(64 / 56);
letter-spacing: -1px;
color: #391400;
margin-bottom: 26px;    
}
}
  
.new-look__text {
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: calc(32 / 20);
color: #391400;
margin-bottom: 32px;
    
@include desktop {
margin-bottom: 26px;
}
}
 
// .new-look__icon {

// }